.main_chat
  .main_chat__group_info
    .main_chat__group_info__menu
      .main_chat__group_info__menu__name
        = @group.name
      .main_chat__group_info__menu__member_list
        Member ：
        .main_chat__group_info__menu__member_list__member
          - @group.users.each do |user|
            = user.name
    .main_chat__group_info__button
      = link_to 'Edit', edit_group_path(current_user), class: "under_line" 
  

  .main_chat__message_list
    = render @messages 
    
   


  .main_chat__message_form
    = form_with model: [@group, @message], html: {class: "main_chat__message_form__Form"}, local: true do |f|
      .main_chat__message_form__Form__menu
        = f.text_field :content, class: 'main_chat__message_form__Form__menu__message', placeholder: 'type a message'
        = f.label :image, class: 'main_chat__message_form__Form__menu__image' do
          = icon('far', 'image', class: 'input-box__image')
          = f.file_field :image, class: 'file_choose'
      = f.submit 'Send', class: 'main_chat__message_form__Form__send'
    
 