.side_bar
  .side_bar__name
    .side_bar__name__menu
      .side_bar__name__menu__text 
        = current_user.name
      %ul.side_bar__name__menu__icon
        %li.edit
          = link_to "＃" do
            = icon('fas', 'edit')
        %li.cog
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .side_bar__group_list
    .side_bar__group_list__menu 
      .side_bar__group_list__menu__group_name 
        sample
      .side_bar__group_list__menu__group_message 
        まだメッセージがありません
    .side_bar__group_list__menu
      .side_bar__group_list__menu__group_name 
        sample
      .side_bar__group_list__menu__group_message 
        まだメッセージがありません